
    <ul  nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
        <i nz-icon type="ie" theme="outline"></i>E-book            
        <li nz-menu-item><a routerLink="/dashboard"><i nz-icon type="dashboard" theme="outline"></i>导航</a></li>
        <li nz-menu-item><a routerLink="/book-ro"><i nz-icon type="shop" theme="outline"></i>书籍浏览</a></li>
        <li nz-menu-item> <a routerLink="/book"><i nz-icon type="bars" theme="outline"></i>书籍管理</a></li>
        <li nz-menu-item> <a routerLink="/usermanagement"><i nz-icon type="user" theme="outline"></i>用户管理</a></li>
        <li nz-menu-item> <a routerLink="/ordermanagement"><i nz-icon type="profile" theme="outline"></i>订单管理</a></li>
        <li nz-menu-item> <a routerLink="/statistics"><i nz-icon type="profile" theme="outline"></i>统计</a></li>
        <li nz-menu-item style='float: right;'> <a (click)= "logout()"><i nz-icon type="login" theme="outline"></i>注销</a></li>
        <li nz-menu-item style='float: right;'> <a routerLink="/signin"><i nz-icon type="login" theme="outline"></i>登录</a></li>
        <li nz-menu-item style='float: right;'> <a routerLink="/signup"><i nz-icon type="idcard" theme="outline"></i>注册</a></li>
        <li nz-menu-item style='float: right;'> <a routerLink="/cart"><i nz-icon type="shopping-cart" theme="outline"></i>我的购物车</a></li>
    </ul>