<nz-table #basicTable [nzData]="orders" [nzPageSize]="pagesize">
  <thead>
    <tr>
      <th>用户名</th>
      <th>书籍号</th>
      <th>数量</th>
      <th>时间</th>
      <th>支付状态</th>
      <th>订单完成状态</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.uid}}</td>
      <td>{{data.bid}}</td>
      <td>{{data.num}}</td>
      <td>{{data.time}}</td>
      <td>{{data.paid}}</td>
      <td>{{data.completed}}</td>
    </tr>
  </tbody>
</nz-table>

<div *ngIf="isadmin()">
  <h2>用户筛选</h2>
  <nz-input-group nzSearch [nzSuffix]="suffixIcon1">
      <input #searchBox type="text"  nz-input  placeholder="input search text" />
  </nz-input-group>
  
  
  <ng-template #suffixIcon1>
    <button title="search order" nz-button nzType='primary' 
    (click)="search(searchBox.value)">
    <i nz-icon type="search"></i>
    </button>
  </ng-template>

  
        
  <h2>商品筛选</h2>
  <nz-input-group nzSearch [nzSuffix]="suffixIcon2">
      <input #searchBox2 type="text"  nz-input  placeholder="input search text" />
  </nz-input-group>

  <ng-template #suffixIcon2>
    <button title="search order" nz-button nzType='primary' 
    (click)="searchb(searchBox2.value)">
    <i nz-icon type="search"></i>
    </button>
  </ng-template>
</div>