<nz-card>
  <div *ngIf="book" class='browser'>
    <h2>{{book.name | uppercase}} Browser</h2>
    <div class='blockleft'>
      <div>
        <img src="{{book.imageUrl}}">
      </div>
      <div>
        <label>id:
        </label>
        <br>
        {{book.id}}
      </div>
      <div>
        <label>name:
        </label>
        <br>
        {{book.name}}
      </div>
      <div>
        <label>author:
        </label>
        <br>
        {{book.author}}
      </div>
      <div>
        <label>price:
        </label>
        <br>
        {{book.price}}
      </div>
      <div>
        <label>storage:
        </label>
        <br>
        {{book.storage}}
      </div>
      <div>
        <button (click)="goBack()" nz-button nzType="dashed"><i nz-icon type="left-circle" theme="fill"></i>Cancel</button>
        <button (click)="goBack()" nz-button nzType="dashed"><i nz-icon type="left-circle" theme="fill"></i>Buy</button>
      </div>
      <div>
        <button (click)="goBack()" nz-button nzType="dashed"><i nz-icon type="left-circle" theme="fill"></i>Comment</button>
      <button (click)="goBack()" nz-button nzType="dashed"><i nz-icon type="left-circle" theme="fill"></i>Cart</button></div>
    </div>
    <div class='blockright'>
    </div>
  
  </div>
  
  </nz-card>