<nz-card>
  <div *ngIf="book" class='browser'>
    <h2>{{book.name | uppercase}} 浏览</h2>
      <div>
        <img src="{{book.imageurl}}">
      </div>
      <div>
        <label>书籍号:
        </label>
        <br>
        {{book.id}}
      </div>
      <div>
        <label>书名:
        </label>
        <br>
        {{book.name}}
      </div>
      <div>
        <label>作者:
        </label>
        <br>
        {{book.author}}
      </div>
      <div>
        <label>价格:
        </label>
        <br>
        {{book.price}}
      </div>
      <div>
        <label>库存:
        </label>
        <br>
        {{book.storage}}
      </div>
      
      <div *ngIf="bns">
        <label>评论:
        </label>
        <br>
        {{bns.comment}}
      </div>
      <button (click)="comment()" nz-button nzType="dashed"><i nz-icon type="left-circle" theme="fill"></i>水军点赞</button>
      <div>
        <button (click)="goBack()" nz-button nzType="dashed"><i nz-icon type="left-circle" theme="fill"></i>返回</button>
        <nz-input-number [(ngModel)]="booknum" [nzMin]="1" [nzMax]="book.storage" [nzStep]="1"></nz-input-number>
        <button (click)="addToCart()" nz-button nzType="primary">放进购物车</button>
      </div>
  </div>
  
  </nz-card>