<nz-layout>
    <nz-header style="z-index: 1000; position:fixed; width:100%; background: rgb(255, 255, 255); padding:0; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
        <i nz-icon type="ie" theme="outline"></i>E-book            
        <li nz-menu-item><a routerLink="/dashboard"><i nz-icon type="dashboard" theme="outline"></i>导航</a></li>
        <li nz-menu-item><a routerLink="/book-ro"><i nz-icon type="shop" theme="outline"></i>书籍浏览</a></li>
        <li nz-menu-item> <a routerLink="/book"><i nz-icon type="bars" theme="outline"></i>书籍管理</a></li>
        <li nz-menu-item> <a routerLink="/usermanagement"><i nz-icon type="user" theme="outline"></i>用户管理</a></li>
        <li nz-menu-item> <a routerLink="/ordermanagement"><i nz-icon type="profile" theme="outline"></i>订单管理</a></li>
        <li nz-menu-item style='float: right;'> <a routerLink="/signin"><i nz-icon type="login" theme="outline"></i>登录</a></li>
        <li nz-menu-item style='float: right;'> <a routerLink="/signup"><i nz-icon type="idcard" theme="outline"></i>注册</a></li>
        <li nz-menu-item style='float: right;'> <a routerLink="/cart/4396"><i nz-icon type="shopping-cart" theme="outline"></i>我的购物车</a></li>
    </ul>
    </nz-header>
    <br>
  <nz-layout style="margin-left: 200">
    <nz-content style="margin:24px 16px 0;overflow: initial">
    <div style="padding: 24px; background: #fff; text-align: left">
      <router-outlet>
      </router-outlet>
    </div>
    </nz-content>
    <nz-footer style="text-align: center;">
      <app-messages></app-messages>
      <nz-divider></nz-divider>
      ©2019ZWJ
    </nz-footer>
  </nz-layout>
</nz-layout>