<app-book-search-local (searched)="onSearched($event)"></app-book-search-local>
<h2>书籍浏览</h2>
<nz-list [nzDataSource]="books" [nzRenderItem]="book" [nzGrid]="{gutter: 16, span: 6}">
    <ng-template #book let-book>
      <nz-list-item [nzContent]="nzContent">
        <ng-template #nzContent>
          <nz-card [nzTitle]="book.name"  [id]='book.id'  (click)="changecolor(book)">
                <div>
                  <img src="{{book.imageurl}}">
                </div>
      <nz-divider></nz-divider>
      <div>
        <div class='bookitem'>
          <span class="badge">书籍号</span>{{book.id}}
      </div>
      <div class='bookitem'>
          <span class="badge">书名</span>{{book.name}}
      </div>
      <div class='bookitem'>
          <span class="badge">作者</span>{{book.author}}
      </div>
      <div class='bookitem'>
          <span class="badge">价格</span>{{book.price}}
      </div>
      <div class='bookitem'>
          <span class="badge">库存</span>{{book.storage}}
      </div>
      </div>
              <a routerLink="/book-ro/detail/{{book.id}}">
                书籍详情
              <i nz-icon type="search"></i>
               </a>
          </nz-card>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>