<nz-table #basicTable [nzData]="users" [nzPageSize]="pagesize">
  <thead>
    <tr>
      <th>用户名</th>
      <th>邮箱</th>
      <th>封禁状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.id}}</td>
      <td>{{data.mail}}</td>
      <td>{{data.forbid}}</td>
      <td>  
          <button (click)="forbid(data)" nz-button nzType="danger"><i nz-icon type="lock" theme="outline"></i>封禁</button>
          <button (click)="unforbid(data)" nz-button nzType="normal"><i nz-icon type="unlock" theme="outline"></i>解禁</button>
      </td>
    </tr>
  </tbody>
</nz-table>