
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
                            <span>Username</span>
                                </nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                  <input nz-input id="username" formControlName="username">
                                  <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors">Please input your username!</nz-form-explain>
                                </nz-form-control>
                              </nz-form-item>
        
                              <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24">
                                      <input nz-input formControlName="email" id="email">
                                      <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>
                                    </nz-form-control>
                                  </nz-form-item>
        
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
                        <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your password!</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
                        <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
                          <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
                            Please confirm your password!
                          </ng-container>
                          <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
                            Two passwords that you enter is inconsistent!
                          </ng-container>
                        </nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
        
                <nz-form-item nz-row style="margin-bottom:8px;">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <label nz-checkbox formControlName="agree">
                    <span>I have read the <a>agreement</a></span>
                  </label>
                </nz-form-control>
              </nz-form-item>
        
            <nz-form-item nz-row style="margin-bottom:8px;">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button type="submit" [disabled]="!validateForm.valid" nzType="primary" (click)="register()" >Register</button>       Or
                <a href='/signin'>Already have an account?</a>
              </nz-form-control>
            </nz-form-item>
        
        
          </form>