<nz-card>
  <div *ngIf="book">
    <h2>{{book.name | uppercase}} 管理</h2>
    <div>
      <img src="{{book.imageurl}}">
    </div>
    <div>
      <label>书籍号:
        <input [(ngModel)]="book.id" placeholder="id"/>
      </label>
    </div>
    <div>
      <label>书名:
        <input [(ngModel)]="book.name" placeholder="name"/>
      </label>
    </div>
    <div>
      <label>作者:
        <input [(ngModel)]="book.author" placeholder="author"/>
      </label>
    </div>
    <div>
      <label>价格:
        <input [(ngModel)]="book.price" placeholder="price"/>
      </label>
    </div>
    <div>
      <label>库存:
        <input [(ngModel)]="book.storage" placeholder="storage"/>
      </label>
    </div>
  
  </div>
  <button (click)="goBack()" nz-button nzType="dashed"><i nz-icon type="left-circle" theme="fill"></i>返回</button>
  <button (click)="save()" nz-button nzType="primary"><i nz-icon type="save" theme="fill"></i>保存</button>
</nz-card>