<div id="search-component">
    <nz-input-group nzSearch [nzSuffix]="suffixIcon">
        <input #searchBox type="text" nz-input (input)="search(searchBox.value)" placeholder="input search text" />
      </nz-input-group>
  <ul class="search-result">
    <li *ngFor="let book of books$ | async" >
      <div *ngIf="mutable(); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <a routerLink="/book/detail/{{book.id}}">
              {{book.name}}
            </a>
        </ng-template>
        <ng-template #elseBlock>
            <a routerLink="/book-ro/detail/{{book.id}}">
              {{book.name}}
            </a>
        </ng-template>
    </li>
  </ul>
</div>

<ng-template #suffixIcon>
    <i nz-icon type="search"></i>
  </ng-template>